<section class="bg-darker-green ">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600">404</h1>
            <p class="mb-4 text-3xl tracking-tight font-bold text-beige md:text-4xl">Не можем да намерим тази страница</p>
            <p class="mb-4 text-lg font-light text-beige">Може би сте въвели грешен адрес? Върнете се в началната страница от тук.</p>
            <a routerLink="/" class="inline-flex bg-beige hover:bg-darker-blue text-darker-green hover:text-lighter-green font-medium rounded-lg text-base px-5 py-2.5 text-center my-4">Начална страница</a>
        </div>   
    </div>
</section>
