<div class="bg-darker-green">
    <svg class="h-24 w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
      <path class="text-lighter-green fill-current" fill-opacity="0.99"
            d="M0,288L60,245.3C120,203,240,117,360,112C480,107,600,181,720,229.3C840,277,960,299,1080,256C1200,213,1320,107,1380,53.3L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>
</div>
<footer class="bg-lighter-green min-h-[28vh]">
    <div class="bg-lighter-green mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a routerLink="/" class="flex items-center">
                  <img src="assets/New-logo.png" class="w-20" alt="Logo" />
                  <span class="self-center text-2xl font-extrabold whitespace-nowrap">Без цигарен дим</span>
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div class="text-center">
                  <h2 class="mb-6 text-lg font-extrabold text-darker-blue uppercase ">Нашите продукти</h2>
                  <ul class="text-darker-blue font-medium">
                      <li class="mb-4">
                          <a routerLink="/" class="hover:underline hover:cursor-pointer">Без цигарен дим</a>
                      </li>
                      <li>
                          <a href="https://k-kostadinov.store/" target="_blank" class="hover:underline">Мъдрости от пепелта</a>
                      </li>
                  </ul>
              </div>
              <div class="text-center">
                  <h2 class="mb-6 text-lg font-extrabold text-darker-blue uppercase">Последвай ни</h2>
                  <ul class="text-darker-blue font-medium">
                      <li class="mb-4">
                          <a href="https://facebook.com/" class="hover:underline ">Facebook</a>
                      </li>
                      <li>
                          <a href="https://instagram.com/" class="hover:underline">Instagram</a>
                      </li>
                  </ul>
              </div>
              <div class="text-center">
                  <h2 class="mb-6 text-lg font-extrabold text-darker-blue uppercase">ПРАВИЛА</h2>
                  <ul class="text-darker-blue font-medium">
                      <li class="mb-4">
                          <a routerLink="/personal-info-rules" class="hover:underline">Лични данни</a>
                      </li>
                      <li>
                          <a routerLink="/terms" class="hover:underline">Общи условия</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-beige sm:mx-auto" />
      <div class="sm:flex justify-center sm:items-center">
          <span class="text-sm text-darker-blue sm:text-center">© 2024 <a routerLink="/" class="hover:underline hover:cursor-pointer font-bold">Без цигарен дим™</a>. Всички правa запазени.
          </span>
      </div>
    </div>
</footer>

