<h1 class="text-center text-beige bg-darker-green text-6xl pt-6 font-bold">ДЕКЛАРАЦИЯ ЗА ЗАЩИТА НА ЛИЧНИТЕ ДАННИ</h1>
<div class="bg-darker-green">
    <svg class="h-16 w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
      <path class="text-beige fill-current" fill-opacity="0.99"
            d="M0,288L60,245.3C120,203,240,117,360,112C480,107,600,181,720,229.3C840,277,960,299,1080,256C1200,213,1320,107,1380,53.3L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>
</div>
<div class="bg-beige py-8">
    <h2 class="text-5xl px-6 font-extrabold text-center text-darker-green my-4">Основни принципи</h2>
    <p class="text-center text-darker-green mx-auto font-bold text-xl md:w-[70%] w-[90%]">Защитата на личните Ви данни ни е важна. Затова обработваме Вашата информация изключително въз основа на приложимото законодателство, конкретно GDPR, Закона за защита на лични данни (ЗЗЛД) и Закона за електронната търговия (ЗЕТ). В тази декларация ви информираме за най-важните аспекти от обработването на Вашите данни на нашия уебсайт.Какво се случва с данните Ви, след като се свържете се нас? Когато ни пишете чрез формулярите на нашия уебсайт или ни пращате имейл, ние съхраняваме данните Ви за период от една година, така че да можем да обработим искането Ви, както и за да отговорим на Ваши последващи въпроси. Няма да споделяме тази информация с трети лица без Вашето изрично съгласие!</p>
</div>
<div class="bg-beige py-8">
    <h2 class="text-5xl px-6 font-extrabold text-center text-darker-green my-4">Съхраняване на Вашите данни</h2>
    <p class="text-center text-darker-green mx-auto font-bold text-xl md:w-[70%] w-[90%]">Обръщаме внимание, че с цел облекчаване на процеса по поръчка и покупка, както и последващото изпълнение на договора с Вас, съхраняваме Вашите имена, адрес и имейл адрес. Предоставените от Вас данни са ни нужни, за да изпълним своите договорни или преддоговорни задължения спрямо Вас. Не предоставяме тези данни на трети лица, с изключение на куриерската фирма, с която Ви доставяме покупката. При незавършена поръчка изтриваме въведените по нея данни. При завършена поръчка и изпълнен от наша страна договор на основание чл. 6, ал. 1, букви (а) и (б) от GDPR съхраняваме всички данни по правоотношението до изтичане на предвидения в чл. 12 от Закона за счетоводството (ЗСч) 10-годишен срок.</p>
</div>
<div class="bg-beige py-8">
    <h2 class="text-5xl px-6 font-extrabold text-center text-darker-green my-4">Бисквитки</h2>
    <p class="text-center text-darker-green mx-auto font-bold text-xl md:w-[70%] w-[90%]">Нашият уеб сайт не използва така наречените „бисквитки“. Анализ на интернет трафика Нашият сайт не анализира потребителския интернет трафик чрез Google Analytics.</p>
</div>
<div class="bg-beige">
    <svg class="h-16 w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path class="text-darker-green fill-current" fill-opacity="0.99"
        d="M0,288L60,245.3C120,203,240,117,360,112C480,107,600,181,720,229.3C840,277,960,299,1080,256C1200,213,1320,107,1380,53.3L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>
</div>
<h1 class="text-center text-beige bg-darker-green text-6xl pt-6 font-bold"><br/></h1>

