<div class="bg-beige">
  <div class="bg-darker-green py-12">
    <main class="mx-auto xl:max-w-[1720px] max-w-4xl shadow-md p-4 sm:px-6 lg:p-8 bg-gradient-to-t xl:bg-gradient-to-r from-darker-blue from-55% via-darker-green to-lighter-green rounded-3xl">
      <div class="flex flex-col-reverse justify-center gap-6 xl:flex-row items-center xl:items-start">
        <div class="xl:w-[40%]">
          <h1 class="text-4xl text-center xl:text-left tracking-tight font-extrabold text-beige sm:text-5xl md:text-6xl">
            <span class="block mr-3">Добре дошли в</span>
            <span class="block text-lighter-green">Без цигарен дим</span>
          </h1>
          <p class="mt-3 text-center xl:text-left text-beige font-bold sm:mt-5 sm:max-w-xl sm:mx-auto md:mt-5 sm:text-2xl text-xl xl:mx-0">
            Тук започва вашето пътуване към живот без цигари. В нашия онлайн курс ще получите
            практически знания и стратегии, които ще ви помогнат да се освободите от тютюнопушенето
            завинаги. Присъединете се към нас и направете първата стъпка към по-здравословен начин на живот.
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center xl:justify-start">
            <div class="rounded-md shadow">
              <a *ngIf="!isLoggedIn" routerLink="/user/login" class="w-full uppercase transition-colors duration-300 hover:cursor-pointer flex items-center justify-center px-8 py-3 border border-transparent text-2xl font-medium rounded-md text-beige bg-darker-green hover:bg-darker-blue hover:text-darker-green md:py-4 md:text-2xl md:px-10">
                Влез в курса
              </a>
              <a *ngIf="isLoggedIn && !roles.includes('activated') && !hasOrdered" routerLink="/orders/make-order" class="w-full uppercase transition-colors duration-300 hover:cursor-pointer flex items-center justify-center px-8 py-3 border border-transparent text-2xl font-medium rounded-md text-beige bg-darker-green hover:bg-darker-blue hover:text-darker-green md:py-4 md:text-2xl md:px-10">
                Поръчай курса
              </a>
              <a *ngIf="isLoggedIn && !roles.includes('activated') && hasOrdered" routerLink="/orders/redeem-code" class="w-full uppercase transition-colors duration-300 hover:cursor-pointer flex items-center justify-center px-8 py-3 border border-transparent text-2xl font-medium rounded-md text-beige bg-darker-green hover:bg-darker-blue hover:text-darker-green md:py-4 md:text-2xl md:px-10">
                Активирай курса
              </a>
              <a *ngIf="isLoggedIn && roles.includes('activated')" routerLink="/videos" class="w-full uppercase transition-colors duration-300 hover:cursor-pointer flex items-center justify-center px-8 py-3 border border-transparent text-2xl font-medium rounded-md text-beige bg-darker-green hover:bg-darker-blue hover:text-darker-green md:py-4 md:text-2xl md:px-10">
                Към клиповете
              </a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a routerLink="/about" class="w-full uppercase flex items-center transition-colors duration-300 justify-center hover:cursor-pointer px-8 py-3 border border-transparent text-2xl font-medium rounded-md text-darker-green bg-green-100 hover:bg-lighter-green hover:text-darker-blue md:py-4 md:text-2xl md:px-10">
                Научете повече
              </a>
            </div>
          </div>
        </div>
        <div class="flex items-center min-h-[470px] xl:w-[40%] max-w-[580px]">
          <div class="my-auto shadow-md border-dotted border-2 border-darker-blue w-full rounded-2xl overflow-hidden">
            <video autoplay class="w-full aspect-[4/3] object-cover" [muted]="true">
              <source src="assets/Hero-Video.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </main>
  </div>

  <div class="bg-darker-green py-2">
    <hr class="w-full md:w-[90%] h-[3px] mx-auto border-0 rounded bg-beige">
  </div>

  <div class="py-2 bg-darker-green">
      <div class="max-w-[1360px] mx-auto px-4 sm:px-6 lg:px-8">
          <div class="md:text-center">
            <h2 class="text-base text-darker-blue font-semibold tracking-wide uppercase">БЕЗ ЦИГАРЕН ДИМ</h2>
            <p class="mt-2 uppercase text-4xl leading-8 font-extrabold tracking-tight text-beige sm:text-5xl">Всичко, което трябва да знаете</p>
            <p class="mt-4 max-w-2xl text-2xl text-darker-blue sm:mx-auto font-bold">Ето как протича процеса на покупка и получаване на достъп до съдържанието.</p>
          </div>

          <div class="mt-10">
            <dl class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-8 lg:gap-y-10 md:w-[70%] md:mx-auto lg:w-full">
                <div class="relative bg-beige rounded-xl p-3">
                  <dt class="flex gap-3 pb-3 border-b-2 border-darker-green min-h-[3.4rem]">
                      <div class="h-12 w-12 flex flex-shrink-0 items-center justify-center border-2 border-darker-blue rounded-xl bg-beige text-beige">
                        <i class="fa-regular fa-paper-plane text-[32px] text-[#141E46]"></i>
                      </div>
                      <div class="flex items-center">
                        <p class="text-3xl leading-6 font-bold text-darker-green">Регистрирай се и заяви поръчка</p>
                      </div>
                  </dt>
                  <dd class="text-left lg:text-center pt-2 text-xl text-darker-blue">След успешна регистрация можеш да поръчаш до адрес на Спиди или Еконт.</dd>
                </div>

                <div class="relative bg-beige rounded-xl p-3">
                  <dt class="flex gap-3 pb-3 border-b-2 border-darker-green min-h-[3.4rem]">
                      <div class="h-12 w-12 flex flex-shrink-0 items-center justify-center border-2 border-darker-blue rounded-xl bg-beige text-beige">
                        <i class="fa-solid fa-key text-[32px] text-[#141E46]"></i>
                      </div>
                      <div class="flex items-center">
                        <p class="text-3xl leading-6 font-bold text-darker-green">Активирай акаунта си</p>
                      </div>
                  </dt>
                  <dd class="text-left lg:text-center pt-2 text-xl text-darker-blue">На адрес ще получите пратка с подаръци и лист със специален код за активация.</dd>
                </div>

                <div class="relative bg-beige rounded-xl p-3">
                  <dt class="flex gap-3 pb-3 border-b-2 border-darker-green min-h-[3.4rem]">
                      <div class="h-12 w-12 flex flex-shrink-0 items-center justify-center border-2 border-darker-blue rounded-xl bg-beige text-beige">
                        <i class="fa-solid fa-circle-play text-[32px] text-[#141E46]"></i>
                      </div>
                      <div class="flex items-center">
                        <p class="text-3xl leading-6 font-bold text-darker-green">Гледай видеата на воля</p>
                      </div>
                  </dt>
                  <dd class="text-left lg:text-center pt-2 text-xl text-darker-blue">Като въведете кода в съответната форма ще получите доживотен достъп до всички видеа в курса.</dd>
                </div>
              </dl>
          </div>
        </div>
    </div>
    
    <div class="bg-darker-green py-2">
      <hr class="w-full md:w-[90%] h-[3px] mx-auto border-0 rounded bg-beige">
    </div>

    <h2 class="text-center font-extrabold text-6xl py-8 text-beige bg-darker-green">Често задавани въпроси</h2>

    <app-faq-module
      titleQuestionSpan1="Какво представлява"
      titleQuestionSpan2="курсът?"
      description="Курсът е съставен от 27 видео клипа. Те са с различна продължителност като общото им времетраене е над три часа концентрирано съдържание, включващo образователна, обучителна част и такава със стратегия за самото спиране на цигарите."
      videoName="Why-Video.mp4"
      [reversed]=false
      [isLoggedIn]="isLoggedIn"
      [hasOrdered]="hasOrdered"
      [roles]="roles"
    ></app-faq-module>
    
    <app-faq-module
      titleQuestionSpan1="Как ще ми помогне"
      titleQuestionSpan2="този курс?"
      description="Като те научи как да станеш по-осъзнат и по-мотивиран.
      Помогне да изкорениш някои грешни представи и ти отвори очите за някои самозаблуждения.
      Повиши волята и самоконтрола.
      Изградиш здравословни навици, които да те направят по-здрав и силен, и когато това се случи да откажеш пушенето от раз."
      videoName="Idea-Video(1).mp4"
      [reversed]=true
      [isLoggedIn]="isLoggedIn"
      [hasOrdered]="hasOrdered"
      [roles]="roles"
    ></app-faq-module>

    <div class="bg-darker-green py-2">
      <hr class="w-full md:w-[90%] h-[3px] mx-auto border-0 rounded bg-beige">
    </div>

    <h2 class="text-center font-extrabold uppercase text-6xl py-8 text-beige bg-darker-green">Подаръци, които получавате <br/> заедно с курса</h2>


    <div class="bg-darker-green">
      <div class="bg-darker-green py-8">
        <div class="mx-auto shadow-md xl:max-w-7xl max-w-4xl overflow-hidden bg-darker-blue my-2 rounded-3xl pb-5 xl:pl-12 xl:pt-0 xl:pr-0 xl:pb-0">
            <div class="flex flex-col-reverse justify-between xl:flex-row items-center xl:items-start xl:gap-6">
              <div class="my-auto">
                <h2 class="text-3xl text-center tracking-tight font-extrabold text-beige sm:text-4xl md:text-5xl">
                  <span class="block uppercase mb-3">Подарък към курса:</span>
                  <span class="block text-lighter-green">Мъдрости от Пепелта</span>
                </h2>
                <p class="mt-3 text-center text-base text-beige font-bold sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl xl:mx-0">
                  Тя съдържа вдъхновяващи сентенции за живота, които биха ви помогнали в трудните и предизвикателни моменти през процеса на спиране на цигарите, като ви накара да се почувствате по-спокойни и уверени в собствените си сили, че ще се справите с проблема.
                </p>
                <p class="mt-3 text-center text-3xl text-beige font-bold">
                  Цена: <span class="line-through">21.00 лева</span> 
                  <span class="text-lighter-green font-extrabold ml-2 text-4xl">0.00 лева</span>
                </p>
                <div class="mt-5 sm:mt-8 mx-auto">
                  <div class="rounded-md shadow">
                    <a href="https://krasimir-kostadinov.eu/" class="w-full uppercase transition-colors duration-300 flex items-center justify-center px-8 py-3 border border-transparent text-base font-bold rounded-md text-beige bg-darker-green hover:bg-darker-blue hover:text-darker-green md:py-4 md:text-3xl md:px-10">
                      Виж книгата
                    </a>
                  </div>
                </div>
              </div>
              <div class="xl:mt-0 xl:w-1/2 min-w-[700px] max-w-[900px] overflow-hidden bg-gradient-to-t xl:bg-gradient-to-r from-darker-blue via-darker-green to-lighter-green">
                <img class="w-full h-full object-cover" src="assets/BookImage.png" alt="Book Image">
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="bg-darker-green">
      <div class="bg-darker-green py-8">
        <div class="mx-auto shadow-md xl:max-w-[1700px] max-w-4xl overflow-hidden my-2 rounded-3xl pb-5 bg-gradient-to-t xl:bg-gradient-to-r from-lighter-green via-darker-blue to-lighter-green">
            <div class="flex flex-col-reverse gap-4 xl:flex-row justify-center items-center xl:items-center xl:gap-6 py-8">
              <div class="xl:mt-0 xl:w-1/2 min-w-[400px] max-w-[500px] overflow-hidden rounded-2xl p-1 bg-gradient-to-t xl:bg-gradient-to-r from-darker-blue to-darker-green">
                <img class="w-full h-full rounded-2xl object-cover" src="assets/guided-therapy.png" alt="Book Image">
              </div>
              <div class="my-auto">
                <h2 class="text-3xl text-center tracking-tight font-extrabold text-beige sm:text-4xl md:text-5xl">
                  <span class="block uppercase mb-3">Подарък към курса:</span>
                  <span class="block text-lighter-green">Водена терапия</span>
                  <span class="block">&</span>
                  <span class="block text-lighter-green">Антистрес дневник</span>
                </h2>
                <p class="mt-3 text-center text-xl text-beige font-bold sm:mt-5 sm:max-w-xl sm:mx-auto md:mt-5 md:text-2xl xl:mx-0">
                    Представяме ви два уникални инструмента за личностно развитие и емоционален баланс. Водената терапия и антистрес дневникът са създадени с цел да ви помогнат да изградите по-силна психическа устойчивост и да развиете ефективни техники за справяне със стреса по време на процеса на отказване от цигарите.
                </p>
                <p class="mt-3 text-center text-3xl text-beige font-bold">
                  Цена: <span class="line-through">25.00 лева</span> 
                  <span class="text-lighter-green font-extrabold ml-2 text-4xl">0.00 лева</span>
                </p>
              </div>
              <div class="xl:mt-0 xl:w-1/2 min-w-[400px] max-w-[500px] overflow-hidden rounded-2xl p-1 bg-gradient-to-t xl:bg-gradient-to-r from-darker-green to-darker-blue">
                <img class="w-full h-full rounded-2xl object-cover" src="assets/antistress-diary.png" alt="Book Image">
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="bg-darker-green">
      <div class="bg-darker-green py-8">
        <div class="mx-auto shadow-md xl:max-w-7xl max-w-4xl overflow-hidden bg-darker-blue my-2 rounded-3xl pt-5 xl:pr-12 xl:pt-0 xl:pl-0 xl:pb-0">
            <div class="flex flex-col justify-between pt-10 xl:pt-0 xl:flex-row-reverse items-center xl:items-start xl:gap-6">
              <div class="my-auto w-3/4 xl:w-1/2">
                <h2 class="text-3xl text-center tracking-tight font-extrabold text-beige sm:text-4xl md:text-5xl">
                  <span class="block uppercase mb-3">Подарък към курса:</span>
                  <span class="block text-lighter-green">Карти за намразване на цигарите</span>
                </h2>
                <p class="mt-3 text-center text-base text-beige font-bold sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl xl:mx-0">
                  Това са сто различни кратки сентенции, събрани в петдесет карти, чиято цел е да Ви накарат да намразите цигарите и навика на пушене.
                </p>
                <p class="mt-3 text-center text-3xl text-beige font-bold">
                  Цена: <span class="line-through">24.00 лева</span> 
                  <span class="text-lighter-green font-extrabold ml-2 text-4xl">0.00 лева</span>
                </p>
                <div class="mt-5 sm:mt-8 mx-auto">
                  <div class="rounded-md shadow">
                    <a href="https://krasimir-kostadinov.eu/" target="_blank" class="w-full uppercase transition-colors duration-300 flex items-center justify-center px-8 py-3 border border-transparent text-base font-bold rounded-md text-beige bg-darker-green hover:bg-darker-blue hover:text-darker-green md:py-4 md:text-3xl md:px-10">
                      Виж картите
                    </a>
                  </div>
                </div>
              </div>
              <div class="w-full xl:w-3/4 flex justify-center overflow-hidden bg-gradient-to-t xl:bg-gradient-to-r from-lighter-green via-darker-green to-darker-blue">
                <div class="xl:mt-0 w-[600px] overflow-hidden">
                  <img class="w-full h-full object-cover" src="assets/TransparentCardbox-NEW.png" alt="Book Image">
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="bg-darker-green py-2">
      <hr class="w-full md:w-[90%] h-[3px] mx-auto border-0 rounded bg-beige">
    </div>
</div>
