<h1 class="text-center text-beige bg-darker-green text-7xl pt-6 font-bold">ЗА КУРСА</h1>
<div class="bg-darker-green">
    <svg class="h-16 w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
      <path class="text-beige fill-current" fill-opacity="0.99"
            d="M0,288L60,245.3C120,203,240,117,360,112C480,107,600,181,720,229.3C840,277,960,299,1080,256C1200,213,1320,107,1380,53.3L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>
</div>
<div class="bg-beige py-8">
    <h2 class="text-7xl px-6 font-extrabold text-center text-darker-green my-4">1. ЗА КОГО Е ТОЗИ КУРС</h2>
    <p class="text-center text-darker-green mx-auto font-bold text-3xl md:w-[70%] w-[90%]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt expedita, quisquam, consequuntur eius blanditiis quae corporis culpa id ducimus quibusdam unde dolorem laboriosam quas at beatae minima autem amet excepturi?</p>
</div>
<div class="bg-beige py-8">
    <h2 class="text-7xl px-6 font-extrabold text-center text-darker-green my-4">2. КАК ЩЕ ВИ ПОМОГНЕ ТОЙ</h2>
    <p class="text-center text-darker-green mx-auto font-bold text-3xl md:w-[70%] w-[90%]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt expedita, quisquam, consequuntur eius blanditiis quae corporis culpa id ducimus quibusdam unde dolorem laboriosam quas at beatae minima autem amet excepturi?</p>
</div>
<div class="bg-beige py-8">
    <h2 class="text-7xl px-6 font-extrabold text-center text-darker-green my-4">3. ПОЛЕЗНИ НАВИЦИ</h2>
    <p class="text-center text-darker-green mx-auto font-bold text-3xl md:w-[70%] w-[90%]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt expedita, quisquam, consequuntur eius blanditiis quae corporis culpa id ducimus quibusdam unde dolorem laboriosam quas at beatae minima autem amet excepturi?</p>
</div>
<div class="bg-beige py-8">
    <h2 class="text-7xl px-6 font-extrabold text-center text-darker-green my-4">4. САМОКОНТРОЛ</h2>
    <p class="text-center text-darker-green mx-auto font-bold text-3xl md:w-[70%] w-[90%]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt expedita, quisquam, consequuntur eius blanditiis quae corporis culpa id ducimus quibusdam unde dolorem laboriosam quas at beatae minima autem amet excepturi?</p>
</div>
<div class="bg-beige">
    <svg class="h-16 w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path class="text-darker-green fill-current" fill-opacity="0.99"
        d="M0,288L60,245.3C120,203,240,117,360,112C480,107,600,181,720,229.3C840,277,960,299,1080,256C1200,213,1320,107,1380,53.3L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>
</div>
<h1 class="text-center text-beige bg-darker-green text-7xl pt-6 font-bold">ПРИЯТНО ГЛЕДАНЕ!</h1>