<div class="w-full min-h-[110vh] py-16 bg-beige ">
  <div class="max-w-md my-10 mx-auto">
    <app-alert *ngIf="showAlert" [color]="alertColor">
      {{  alertMsg  }}
    </app-alert>
    <form [formGroup]="videoForm" class="bg-lighter-green shadow-md rounded-3xl px-8 pt-6 pb-8 mb-4" (submit)="sendVideo()">
      <div class="mb-6">
        <label class="block text-darker-green text-sm font-bold mb-2" for="title">
          Title
        </label>
        <app-input
        [control]="videoForm.controls.title"
        placeholder="Enter Title"
        type="text"
        ></app-input>
      </div>
      <div class="mb-6">
          <label class="block text-darker-green text-sm font-bold mb-2" for="description">
            Description
          </label>
          <app-input
          [control]="videoForm.controls.description"
          placeholder="Enter Description"
          type="text"
          ></app-input>
        </div>
        <div class="mb-6">
          <label class="block text-darker-green text-sm font-bold mb-2" for="videoUrl">
            Video Url
          </label>
          <app-input
          [control]="videoForm.controls.videoUrl"
          placeholder="Enter Video URL"
          type="text"
          ></app-input>
        </div>
        <div class="mb-6">
          <label class="block text-darker-green text-sm font-bold mb-2" for="screenshotUrl">
          Screenshot Url
        </label>
        <app-input
        [control]="videoForm.controls.screenshotUrl"
        placeholder="Enter Screenshot URL"
        type="text"
        ></app-input>
        </div>
        <div class="mb-6">
          <label class="block text-darker-green text-sm font-bold mb-2" for="previous">
          Previous video URL
          </label>
        <app-input
        [control]="videoForm.controls.previous"
        placeholder="Enter Previous Video URL"
        type="text"
        ></app-input>
        </div>
        <div class="mb-6">
          <label class="block text-darker-green text-sm font-bold mb-2" for="next">
          Next video URL
          </label>
        <app-input
        [control]="videoForm.controls.next"
        placeholder="Enter Next Video URL"
        type="text"
        ></app-input>
        </div>
      <button 
      class="bg-darker-green hover:bg-beige text-darker-blue font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" 
      type="submit"
        [disabled]="videoForm.invalid || inSubmission"
        >
          Create
      </button> 
    </form>
  </div>
  
</div>