<h1 class="text-center pt-10 text-5xl font-bold text-beige bg-darker-green">РЕГИСТРАЦИЯ</h1>
<div class="w-full min-h-[60vh] py-14 bg-darker-green">
  <div class="w-full max-w-xs mx-auto">
      <app-alert *ngIf="showAlert" [color]="alertColor">
        {{  alertMsg  }}
      </app-alert>
      <form [formGroup]="registerForm" (ngSubmit)="captchaRef.execute()" class="bg-beige shadow-xl rounded-3xl px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-darker-blue text-base font-bold mb-2" for="email">
            Email
          </label>
          <app-input
            [control]="registerForm.controls.email"
            placeholder="Въведи Email"
          ></app-input>
        </div>
        <div class="mb-6">
          <label class="block text-darker-blue text-base font-bold mb-2" for="name">
           Име
          </label>
          <app-input
            [control]="registerForm.controls.firstName"
            placeholder="Въведи Име"
            type="text"
          ></app-input>
        </div>
        <div class="mb-6">
          <label class="block text-darker-blue text-base font-bold mb-2" for="name">
           Фамилия
          </label>
          <app-input
            [control]="registerForm.controls.lastName"
            placeholder="Въведи Фамилия"
            type="text"
          ></app-input>
        </div>
        <div class="mb-6">
          <label class="block text-darker-blue text-base font-bold mb-2" for="age">
            Възраст
          </label>
          <app-input
            [control]="registerForm.controls.age"
            placeholder="Въведи Възраст"
            type="number"
            min="14"
            max="120"
          ></app-input>
        </div>
        <div class="mb-6">
          <label class="block text-darker-blue text-base font-bold mb-2" for="phoneNumber">
            Телефонен номер
          </label>
          <app-input
            [control]="registerForm.controls.phoneNumber"
            placeholder="Въведи телефонен номер"
            type="text"
          ></app-input>
        </div>
        <div class="mb-6">
          <label class="block text-darker-blue text-base font-bold mb-2" for="password">
            Парола
          </label>
          <app-input
            [control]="registerForm.controls.password"
            placeholder="Въведи парола"
            type="password"
          ></app-input>
        </div>
        <div class="mb-6">
            <label class="block text-darker-blue text-base font-bold mb-2" for="password">
              Потвърди Парола
            </label>
            <app-input
              [control]="registerForm.controls.confirm_password"
              placeholder="Повтори парола"
              type="password"
            ></app-input> 
        </div>
        <re-captcha #captchaRef size="invisible" (resolved)="$event && captchaExecute($event)" siteKey="6LdjVRcqAAAAAPFXyB1OByj80mGV1vbM3QI6gRZq"></re-captcha>
        <div class="flex items-center justify-between">
          <button 
          class="bg-darker-green hover:bg-darker-blue text-beige hover:text-darker-green font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" 
          type="submit"
          [ngClass]="{'bg-slate-600 text-white hover:bg-slate-400 hover:text-white disabled': this.inSubmission}"
          [disabled]="registerForm.invalid || inSubmission"
          >
            Регистрирай се
          </button>       
        </div>
      </form>
  </div>
</div>

