<div class="bg-beige w-full py-16 min-h-screen xl:px-8 px-4">
    <div class="gap-5 flex lg:flex-row flex-col lg:m-0 sm:mx-5 align-middle lg:justify-center">
        <div class="lg:w-10/12 w-full">
            <div class="md:max-w-7xl md:h-[70vh] w-full rounded-xl bg-darker-green">
                Yo
            </div>
            <h1 class="text-darker-blue text-2xl w-4/5 mx-auto my-5 font-extrabold">{{videoDataObj?.title}}</h1>
            <div class="bg-lighter-green rounded w-4/5 mx-auto my-5">
                <p>{{videoDataObj?.description}}</p>
            </div>
        </div>
        <div *ngIf="previousVideo || nextVideo" class="lg:w-1/4 md:w-3/5 w-4/5 mx-auto py-5 rounded-xl md:bg-darker-green">
            <h2 class="md:text-beige text-darker-green text-lg font-bold text-center mb-4">Previous:</h2>
            <div class="md:px-8 mb-4">
                <app-video-card [videoInfo]="previousVideo"></app-video-card>
            </div>
            <h2 class="md:text-beige text-darker-green text-lg font-bold text-center mb-4">Next:</h2>
            <div class="md:px-8">
                <app-video-card [videoInfo]="nextVideo"></app-video-card>
            </div>
        </div>
    </div>
</div>